# ------------------------------------------------
# DIGITALOCEAN SPACES CREDENTIALS
# ------------------------------------------------
DO_SPACES_KEY=your_spaces_access_key_here
DO_SPACES_SECRET=your_spaces_secret_key_here
DO_SPACES_REGION=sgp1
DO_SPACES_BUCKET=your_bucket_name_here
DO_SPACES_ENDPOINT=https://sgp1.digitaloceanspaces.com

# ------------------------------------------------
# BEVY API (Currently Not Used)
# ------------------------------------------------
BEVY_API_KEY=your_bevy_api_key_here
